{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
{#    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous identifier</h1>#}
{#    <form method="post" action="{{ path('app_login') }}">#}
{#    <label for="inputUsername">Identifiant :</label>#}
{#    <input type="text" value="{{app.request.cookies.get('cookieUsername')}}" name="username" id="inputUsername" class="form-control"#}
{#           autocomplete="username" required autofocus>#}
{#    <label for="inputPassword">Mot de passe :</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control"#}
{#           autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}">#}


{#        #}{#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input id="remember_me" type="checkbox" name="remember_me" value="on"> Se souvenir de moi#}
{#            </label>#}
{#        </div>#}


{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Connexion#}
{#    </button>#}
{#   #}{#<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>#}
{#</form>#}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form method="post" class="login100-form validate-form" action="{{ path('app_login') }}">
                <span class="login100-form-title p-b-48">
						<h3>Veuillez vous identifier</h3>
					</span>
                <div class="wrap-input100 validate-input" data-validate = "Entrer votre pseudo">
                    <input class="input100" id="input100" type="text" value="{{app.request.cookies.get('cookieUsername')}}" placeholder="Pseudo" name="username" id="inputUsername"
                           autocomplete="username" required autofocus>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter mot de passe">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" id="input100" type="password" placeholder="Mot de passe" name="password" id="inputPassword" autocomplete="current-password" required >
                </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="checkbox mb-3">
                        <label>
                            <input id="remember_me" type="checkbox" name="remember_me" value="on"> Se souvenir de moi
                        </label>
                    </div>
                </div>
            </form>
        </div>
        {#<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>#}
    </div>
</div>
{% endblock %}
