{% extends 'base.html.twig' %}

{% block title %} Profil utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}


{% block body %}
    <div class="form-group text-center">
        <div class="col col-md-12">
            <h2><span class="text-success">{{ participant.username }}</span> !</h2>
        </div>
    </div>

    <div class="form-group text-center" >
        <div class="col col-md-12">
            {% if participant.images!=null %}<img src="{{ asset('images/photoprofil/'~participant.images) }}" width=150" height="150" alt="" class="image-ronde">
            {% else %}<img src="{{ asset('images/photoprofil/avatarDefaut.jpeg') }}" width=150" height="150" alt="" class="image-ronde">
            {% endif %}
        </div>
    </div>

    <div class="box ">
        <div class="card-body mb-4">

            <div class="card-body text-center">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Prenom : </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{ participant.prenom }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Nom : </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{ participant.nom }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Téléphone : </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{ participant.telephone }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Email : </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{ participant.mail }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Site de rattachement : </p>
                    </div>
                    <div class="col-sm-7">
                        <p class="text-muted mb-0">{{ participant.site.nom }}</p>
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                <div class="col-sm-12">
                    <a href="{{ path('main_accueil') }}" role="button" class="btn btn-danger">Retour</a>
                </div>
                </div>
            </div>
        </div>
    </div>


    {# <p>{{ participant.username }}</p>
    <p>Prenom : {{ participant.prenom }}</p>
    <p>Nom : {{ participant.nom }}</p>
    <p>Téléphone : {{ participant.telephone }}</p>
    <p>Email : {{ participant.mail }}</p>
    <p>Site de rattachement : {{ participant.site.nom }} </p> #}




{% endblock %}


