{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Annuler une sortie</h1>


        <div class="row">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                <label for="resultatNom">Nom de la sortie :</label>
            </div>
            <div class="col-md-4  col-5">
                <p id="resultatNom">{{ sortie.nom }}</p>
            </div>

        </div>


        <div class="dateSortie">
            <div class="row">
                <div class="col-md-4 col-2"></div>
                <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                    <label for="resultatDateSortie">Date de la sortie :</label>
                </div>
                <div class="col-md-4  col-5">
                    <p id="resultatDateSortie">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</p>
                </div>
            </div>
        </div>
        <div class="infosDroite">
            <div class="villeOrganisatrice">
                <div class="row">
                    <div class="col-md-4 col-2"></div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                        <p class="labelVilleOrganisatrice">Ville organisatrice :</p>
                    </div>
                    <div class="col-md-4 col-5">
                        <p class="resultatVilleOrganisatrice">{{ sortie.site.nom }}</p>
                    </div>
                </div>
            </div>

            <div class="lieu">
                <div class="row">
                    <div class="col-md-4 col-2"></div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                        <p class="labelLieu">Lieu :</p>
                    </div>
                    <div class="col-md-4  col-5">
                        <p class="resultatLieu">{{ sortie.lieu.nom }}</p>
                    </div>
                </div>
            </div>
            <form action="{{ path('main_annuler', {'idSortie': sortie.id}) }}" method="post">
                <div class="motif">
                    <div class="row">
                        <div class="col-md-4 col-2"></div>
                        <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                            <label for="story">Motif :</label>
                        </div>
                        <div class="col-md-4  col-5">
                            <textarea id="story" name="motif"
                                      rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-2"></div>
                    <div class="col-md-3 col-lg-2 col-sm-4 col-4">
                        <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
                    </div>

                    <div class="col-md-4 col-5">
                        <a href="{{ path('main_accueil') }}" class="btn btn-danger btn-lg">Annuler</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-4"></div>

    </div>
{% endblock %}