{% extends 'base.html.twig' %}

{% block title %}Gérer les sorties{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5 text-center">Gérer les sorties</h1>

        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar-admin mb-sm-5 ">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th>Duree</th>
                    <th scope="col">inscrits/places</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.id }}</td>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y h:m') : '' }}</td>
                        <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y h:m') : '' }}</td>
                        <td>{{ sortie.duree }} minutes</td>
                        <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>
                            <a href="{{ path('annuler_sortie_admin', {'idSortie': sortie.id}) }}"
                               class="btn btn-success" type="button">Annuler</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas de sorties trouvés</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
