{% extends 'base.html.twig' %}

{% block title %}Créer une Sortie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}


<div class="text-center p-3">
    <h1>Créer une sortie</h1>
</div>

{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.nom) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.nom) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.dateHeureDebut) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.dateHeureDebut) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.dateLimiteInscription) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.dateLimiteInscription) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.nbInscriptionsMax) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.nbInscriptionsMax) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.duree) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.duree) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.InfosSortie) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.InfosSortie) }}
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.site) }}
            </div>
            <div class="col-md-4 col-5">
                {{ form_widget(form.site) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-2"></div>
            <div class="col-md-2 col-4">
                {{ form_label(form.lieu) }}
            </div>

            <div class="col-md-4 col-5">
                {{ form_widget(form.lieu) }}

            </div>
            <div class="col-md-2 col-45">
                <a href="{{ path('lieu_new') }}"><img src="{{ asset('images/favicon-32x32.png') }}" alt=""></a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success">Enregistrer</button>
                    </div>

                    {# <div class="col-3">
                            <a href="{{ path('main_publier', {'idSortie': sortie.id }) }}" class="btn btn-success"
                               type="button">Publier</a>
                        </div> #}

                    {# <div class="col-3">
                            <a href="{{ path('main_supprimer', {'idSortie' : sortie.id}) }}" class="btn btn-danger"
                               type="button">Supprimer</a>
                        </div> #}

                    <div class="col-6">
                        <a href="{{ path('main_accueil') }}" class="btn btn-danger" type="button">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}