{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Afficher une sortie</h1>
        <div class="row">
            <div class="col-xl-6 col-lg-12">

                <div class="nom">
                    <div class="row">
                        <div class="col-4">
                            <label for="resultatNom">Nom de la sortie :</label>
                        </div>
                        <div class="col-8">
                            <p id="resultatNom">{{ sortie.nom }}</p>

                        </div>
                    </div>
                </div>
                <div class="dateSortie">
                    <div class="row">
                        <div class="col-4">
                            <label for="resultatDateSortie">Date et heure de la sortie :</label>
                        </div>
                        <div class="col-8">
                            <p id="resultatDateSortie">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</p>
                        </div>
                    </div>
                </div>

                <div class="dateCloture">
                    <div class="row">
                        <div class="col-4">
                            <label for="resultatDateCloture">Date limite d'inscription :</label>
                        </div>
                        <div class="col-8">
                            <p id="resultatDateCloture">{{ sortie.dateLimiteInscription.format('d/m/Y h:m') }}</p>
                        </div>
                    </div>
                </div>

                <div class="nbDePlaces">
                    <div class="row">
                        <div class="col-4">

                            <label for="resultatNbDePlaces">Nombre de places :</label>

                        </div>
                        <div class="col-8">

                            <p id="resultatNbDePlaces">{{ sortie.nbInscriptionsMax }}</p>
                        </div>
                    </div>
                </div>

                <div class="duree">
                    <div class="row">
                        <div class="col-4">
                            <label for="resultatDuree">Durée :</label>
                        </div>
                        <div class="col-8">

                            <p class="resultatDuree">{{ sortie.duree }} minutes</p>
                        </div>
                    </div>
                </div>

                <div class="descriptionEtInfos">
                    <div class="row">
                        <div class="col-4">
                            <label for="resultatNbDePlaces">Description et infos :</label>
                        </div>
                        <div class="col-8">
                            <p class="resultatDescriptionEtInfos">{{ sortie.infosSortie }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-12">

                <div class="infosDroite">

                    <div class="villeOrganisatrice">
                        <div class="row">
                            <div class="col-4">
                                <p class="labelVilleOrganisatrice">Ville organisatrice :</p>
                            </div>
                            <div class="col-8">
                                <p class="resultatVilleOrganisatrice">{{ sortie.site.nom }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="lieu">
                        <div class="row">
                            <div class="col-4">
                                <p class="labelLieu">Lieu :</p>
                            </div>
                            <div class="col-8">
                                <p class="resultatLieu">{{ sortie.lieu.nom }}</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="rue">
                    <div class="row">
                        <div class="col-4">
                            <p class="labelRue">Rue :</p>
                        </div>
                        <div class="col-8">

                            <p class="resultatRue">{{ sortie.lieu.rue }}</p>
                        </div>
                    </div>
                </div>

                <div class="codePostal">
                    <div class="row">
                        <div class="col-4">
                            <p class="labelCodePostal">Code postal :</p>
                        </div>
                        <div class="col-8">

                            <p class="resultatCodePostal">{{ sortie.lieu.ville.codePostal }}</p>
                        </div>
                    </div>
                </div>

                <div class="latitude">
                    <div class="row">
                        <div class="col-4">
                            <p class="labelLatitude">Latitude :</p>
                        </div>
                        <div class="col-8">
                            <p class="resultatLatitude">{{ sortie.lieu.latitude }}</p>
                        </div>
                    </div>
                </div>
                <div class="longitude">
                    <div class="row">
                        <div class="col-4">
                            <p class="labelLongitude">Lieu :</p>
                        </div>

                        <div class="col-8">
                            <p class="resultatLongitude">{{ sortie.lieu.longitude }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-5 mt-5">
    <h3>Liste des participants inscrits</h3>
    <div class="tableParticipants">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar-participants">
            <table class="table table-bordered mb-0">
                <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for eachParticipant in sortie.participants %}
                    <tr>
                        <td>{{ eachParticipant.userIdentifier }}</td>
                        <td>{{ eachParticipant.prenom }} {{ eachParticipant.nom|upper }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}