{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form action="{{ path('main_recherche') }}" method="post">
        <h4>Filtrer les sorties</h4>
        <div class="select">
            <label for="sites-select">Site :</label>
            <select name="sites-select" id="sites-select">
                <option value="Tous">Tous les sites</option>
                {% for eachSite in sites %}
                    <option value="{{ eachSite.nom }}" {% if (leSite is defined) and (leSite == eachSite.nom) %} selected="selected" {% endif %}>{{ eachSite.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="search">
            <label for="search">Le nom de la sortie contient : </label>
            <input type="text" id="search" name="search" placeholder="search" {% if choixSearch is defined %}
                   value="{{ choixSearch }}{% endif %}">
        </div>
        <div class="date">

            <label for="start">Entre </label>
            <input type="datetime-local" id="start" name="trip-start" {% if choixDateStart is defined %}
                   value="{{ choixDateStart }}{% endif %}">

            <label for="end">et </label>
            <input type="datetime-local" id="end" name="trip-end" {% if choixDateEnd is defined %}
                   value="{{ choixDateEnd }}{% endif %}">
        </div>
        <div class="checkbox">
            <input type="checkbox" id="organisateur" name="organisateur"
                   value="{{ app.user.id }}" {% if choixOrganisateur is defined and choixOrganisateur is not null %}
                checked="checked" {% endif %}>
            <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>

            <input type="checkbox" id="inscrit" name="inscrit"
                   value="{{ app.user.id }}" {% if choixInscrit is defined and choixInscrit is not null %}
                checked="checked" {% endif %}>
            <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>

            <input type="checkbox" id="pasInscrit" name="pasInscrit"
                   value="{{ app.user.id }}" {% if choixPasInscrit is defined and choixPasInscrit is not null %}
                checked="checked" {% endif %}>
            <label for="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>

            <input type="checkbox" id="passee" name="passee" value="Passée" {% if choixPassee is defined  and choixPassee is not null%}
                checked="checked" {% endif %}>
            <label for="passee">Sorties passées</label>
        </div>
        <button type="submit" value="submit">Rechercher</button>
    </form>
    <div class="container-table">
        <table class="sortie-table">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>

            {% for eachSortie in sorties %}
            <tr>
                <td>{{ eachSortie.nom }}</td>
                <td>{{ eachSortie.dateHeureDebut.format('d/m/Y h:m') }}</td>
                <td>{{ eachSortie.dateLimiteInscription.format('d/m/Y') }}</td>
                <td>{{ eachSortie.participants|length }}/{{ eachSortie.nbInscriptionsMax }}</td>
                <td>{{ eachSortie.etat.libelle }}</td>
                {% set isInscrit = false %}
                {% for eachParticipant in eachSortie.participants %}
                    {% if eachParticipant.username == app.user.userIdentifier %}
                        {% set isInscrit = true %}
                    {% endif %}
                {% endfor %}

                {% if isInscrit == true %}
                    <td>x</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ eachSortie.organisateur }}</td>
                {% set isOrganisateur = false %}
                {% if eachSortie.organisateur.userIdentifier == app.user.userIdentifier %}
                    {% set isOrganisateur = true %}
                {% endif %}
                <td>
                    {% if eachSortie.etat != 'Créée' %}
                        <a href="{{ path('main_accueil') }}">Afficher</a>
                    {% endif %}
                    {% if (eachSortie.etat == 'Créée') and (isOrganisateur == 1) %}
                        <a href="{{ path('main_accueil') }}">Modifier - </a>
                        <a href="{{ path('main_accueil') }}">Publier</a>
                    {% endif %}
                    {% if  (eachSortie.etat == 'Ouverte') and (isOrganisateur == true) %}
                        <a href="{{ path('main_accueil') }}"> - Annuler</a>
                    {% endif %}
                    {% if isInscrit == true %}
                        <a href="{{ path('main_accueil') }}"> - Se désister</a>
                    {% endif %}
                    {% if (isInscrit == false) and (eachSortie.etat == 'Ouverte') and (isOrganisateur == false) %}
                        <a href="{{ path('main_accueil') }}"> - S'inscrire</a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <button><a href="{{ path('main_accueil') }}"></a>Créer une sortie</button>
{% endblock %}