{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block navbar %}
    {% if app.user.granted('ROLE_ADMIN') %}
        <li class="nav-item active">
            <a class="nav-link " id="navlink" href="{{ path('site_index') }}">Sites</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " id="navlink" href="{{ path('ville_index') }}">Villes</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h4 class="mb-5 mt-5">Filtrer les sorties</h4>
        <form action="{{ path('main_recherche') }}" method="post">
            <div class="mb-4"></div>
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-sm-12">

                    <label for="sites-select" class="col-form-label">Site :</label>
                    <select name="sites-select" id="sites-select">
                        <option value="Tous">Tous les sites</option>
                        {% for eachSite in sites %}
                            <option value="{{ eachSite.nom }}" {% if (leSite is defined) and (leSite == eachSite.nom) %} selected="selected" {% endif %}>{{ eachSite.nom }}</option>
                        {% endfor %}
                    </select>

                    <div class="search">
                        <label for="search" class="col-form-label">Le nom de la sortie contient : </label>
                        <input type="text" id="search" name="search"
                               placeholder="search" {% if choixSearch is defined %}
                               value="{{ choixSearch }}{% endif %}">
                    </div>
                    <div class="date">

                        <label for="start" class="col-form-label">Entre </label>
                        <input type="date" id="start" name="trip-start" {% if choixDateStart is defined %}
                               value="{{ choixDateStart }}{% endif %}">

                        <label for="end" class="col-form-label">et </label>
                        <input type="date" id="end" name="trip-end" {% if choixDateEnd is defined %}
                               value="{{ choixDateEnd }}{% endif %}">
                    </div>
                </div>

                <div class="col-xl-5 col-lg-6 col-sm-12">
                    <div class="checkbox">
                        <div class="checkbox1">
                            <input type="checkbox" id="organisateur" name="organisateur"
                                   value="{{ app.user.id }}" {% if choixOrganisateur is defined and choixOrganisateur is not null %}
                                checked="checked" {% endif %}>
                            <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
                        </div>
                        <div class="checkbox2">

                            <input type="checkbox" id="inscrit" name="inscrit"
                                   value="{{ app.user.id }}" {% if choixInscrit is defined and choixInscrit is not null %}
                                checked="checked" {% endif %}>
                            <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                        </div>
                        <div class="checkbox3">
                            <input type="checkbox" id="pasInscrit" name="pasInscrit"
                                   value="{{ app.user.id }}" {% if choixPasInscrit is defined and choixPasInscrit is not null %}
                                checked="checked" {% endif %}>
                            <label for="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                        </div>
                        <div class="checkbox4">

                            <input type="checkbox" id="passee" name="passee"
                                   value="Passée" {% if choixPassee is defined  and choixPassee is not null %}
                                checked="checked" {% endif %}>
                            <label for="passee">Sorties passées</label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-12">
                    <div class="mx-custom-rechercher mx-xl-0">
                        <div class="mb-3 mb-xl-0"></div>
                        <button type="submit" value="submit" name="ok" class="btn-success btn-lg">Rechercher
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mb-3"></div>
    <div class="container mb-sm-5">
        <div class="d-none d-xxl-block d-xl-block">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar mb-sm-5">
                <table class="table table-bordered mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">inscrits/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eachSortie in sorties %}
                    <tr>
                        <td>{{ eachSortie.nom }}</td>
                        <td>{{ eachSortie.dateHeureDebut.format('d/m/Y h:m') }}</td>
                        <td>{{ eachSortie.dateLimiteInscription.format('d/m/Y') }}</td>
                        <td>{{ eachSortie.participants|length }}/{{ eachSortie.nbInscriptionsMax }}</td>
                        <td>{{ eachSortie.etat.libelle }}</td>
                        {% set isInscrit = false %}
                        {% for eachParticipant in eachSortie.participants %}
                            {% if eachParticipant.username == app.user.userIdentifier %}
                                {% set isInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        {% if isInscrit == true %}
                            <td class="text-center">x</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>
                            <a href="{{ path('detail', {'id' : eachSortie.organisateur.id}) }}"
                               class="link-light">{{ eachSortie.organisateur }}</a>
                        </td>
                        {% set isOrganisateur = false %}
                        {% if eachSortie.organisateur.userIdentifier == app.user.userIdentifier %}
                            {% set isOrganisateur = true %}
                        {% endif %}
                        <td>
                            {% if eachSortie.etat != 'Créée' %}
                                <a href="{{ path('main_afficher', {'idSortie' : eachSortie.id}) }}"
                                   class="link-light">Afficher</a>
                            {% endif %}
                            {% if (eachSortie.etat == 'Créée') and (isOrganisateur == 1) %}
                                <a href="{{ path('main_modifier', {'idSortie' : eachSortie.id}) }}"
                                   class="link-light">Modifier</a> -
                                <a href="{{ path('main_publier', {'idSortie' : eachSortie.id}) }}"
                                   class="link-light">Publier</a>
                            {% endif %}
                            {% if  (eachSortie.etat == 'Ouverte') and (isOrganisateur == true) %}
                                -
                                <a href="{{ path('main_annulerRedirection', {'idSortie': eachSortie.id}) }}  "
                                   class="link-light"> Annuler</a>
                            {% endif %}
                            {% if isInscrit == true %}
                                -
                                <a href="{{ path('main_desister', {'idSortie' : eachSortie.id}) }}"
                                   class="link-light">
                                     Se
                                    désister</a>
                            {% endif %}
                            {% if (isInscrit == false) and (eachSortie.etat == 'Ouverte') and (isOrganisateur == false) %}
                                -
                                <a href="{{ path('main_inscrire', {'idSortie' : eachSortie.id}) }}"
                                   class="link-light">

                                    S'inscrire</a>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-xl-none d-xxl-none">
            <div class="row">
                {% set compteur = 0 %}
                {% for eachSortie in sorties %}
                    {% set isInscrit = false %}
                    {% for eachParticipant in eachSortie.participants %}
                        {% if eachParticipant.username == app.user.userIdentifier %}
                            {% set isInscrit = true %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-lg-6 col-sm-12">
                        <div class="card text-black bg-dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ eachSortie.nom }}</h5>
                                <p class="card-text">
                                <p>Date de la sortie : {{ eachSortie.dateHeureDebut.format('d/m/Y h:m') }}</p>
                                <p>Clôture : {{ eachSortie.dateLimiteInscription.format('d/m/Y') }}</p>
                                <p>inscrits/places : {{ eachSortie.participants|length }}
                                    /{{ eachSortie.nbInscriptionsMax }}</p>
                                <p>Etat : {{ eachSortie.etat.libelle }}</p>
                                {% if isInscrit == true %}
                                    <p>Inscrit</p>
                                {% else %}
                                    <p>Pas inscrit</p>
                                {% endif %}
                                <div class="organisateur"> Organisateur : <a
                                            href="{{ path('detail', {'id' : eachSortie.organisateur.id}) }}"
                                            class="link-light"> {{ eachSortie.organisateur }}</a></div>

                                {% set isOrganisateur = false %}
                                {% if eachSortie.organisateur.userIdentifier == app.user.userIdentifier %}
                                    {% set isOrganisateur = true %}
                                {% endif %}
                                <div class="d-flex justify-content-around mt-3">
                                    {% if eachSortie.etat != 'Créée' %}
                                        <a href="{{ path('main_afficher', {'idSortie' : eachSortie.id}) }}"
                                           class="btn btn-success" role="button">Afficher</a>
                                    {% endif %}
                                    {% if (eachSortie.etat == 'Créée') and (isOrganisateur == 1) %}
                                        <a href="{{ path('main_modifier', {'idSortie' : eachSortie.id}) }}"
                                           class="btn btn-success" role="button">Modifier</a>
                                        <a href="{{ path('main_publier', {'idSortie' : eachSortie.id}) }}"
                                           class="btn btn-success" role="button">Publier</a>
                                    {% endif %}
                                    {% if  (eachSortie.etat == 'Ouverte') and (isOrganisateur == true) %}
                                        <a href="{{ path('main_annulerRedirection', {'idSortie': eachSortie.id}) }}"
                                           class="btn btn-success" role="button"> Annuler</a>
                                    {% endif %}
                                    {% if isInscrit == true %}
                                        <a href="{{ path('main_desister', {'idSortie' : eachSortie.id}) }}"
                                           class="btn btn-success" role="button">
                                            Se
                                            désister</a>
                                    {% endif %}
                                    {% if (isInscrit == false) and (eachSortie.etat == 'Ouverte') and (isOrganisateur == false) %}
                                        <a href="{{ path('main_inscrire', {'idSortie' : eachSortie.id}) }}"
                                           class="btn btn-success" role="button">
                                            S'inscrire</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set compteur = compteur + 1 %}
                    {% if compteur % 2 == 0 %}
                        <div class="mb-3"></div>
                    {% else %}
                        <div class="d-block d-sm-none">
                            <div class="mb-3"></div>
                        </div>
                        <div class="d-none d-sm-block d-md-none">
                            <div class="mb-3"></div>
                        </div>
                        <div class="d-none d-md-block d-lg-none">
                            <div class="mb-3"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="mt-3"></div>
        </div>
        <a href="{{ path('sortie_new') }}" class="btn btn-success mb-sm-5" role="button">Créer une sortie</a>
    </div>

{% endblock %}