{{ form_start(form) }}
<td class="input-table">{{ form_widget(form.nom) }}</td>
<td class="input-table">{{ form_widget(form.codePostal) }}</td>
<td><input class="btn-ghost" type="submit" value="{{ button_label|default('Ajouter') }}" /></td>
{{ form_end(form) }}