{{ form_start(form) }}
<td>{{ form_widget(form.nom) }}</td>
<td>{{ form_widget(form.codePostal) }}</td>
<td><input type="submit" value="{{ button_label|default('Ajouter') }}" /></td>
{{ form_end(form) }}